# ignore raw counts file
*.tsv

# ignore R-objects because they will get really large
*.RData

# History files
.Rhistory
.Rapp.history

# ignore all the things in data directory
/data

/Output/eQTL_voom_fit
/Output/

/scripts/ASPB_plots.R
/scripts/PAG_plots.R

